<div class="container">
  <div class="embed-responsive embed-responsive-16by9">
    <video id="videoDisplay" class="embed-responsive-item" src="assets/videos/video03.mp4" controls></video>
  </div>
</div>
