<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
    <span class="mr-auto"></span>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="ml-2" ngbDropdown>
  <button class="btn btn-outline-secondary" id="dropdownConfig" ngbDropdownToggle>Admin</button>
  <div ngbDropdownMenu aria-labelledby="dropdownConfig">
    <button class="dropdown-item">Action - 1</button>
    <button class="dropdown-item">Another Action</button>
    <button class="dropdown-item">Something else is here</button>
  </div>
</div>
</nav>